/*****************************************************************************/


/* main: Style */


/*****************************************************************************/
// If you want to override materialize sass variables you can uncomment the following:
@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: color("indigo", "darken-2");
$secondary-color: color("light-blue", "base");
// import main scss file
@import "{poetic:materialize-scss}/sass/materialize.scss";
body {
    word-wrap: break-word;
    text-overflow: ellipsis;
    background-color: #fcfcfc;
    // Meteor package installed content.css, which messed up typography
    // this is a temprorary workaround
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: inherit;
    color: rgba(0, 0, 0, 0.87);
    /* this also works
    color: inherit;
    font-family: inherit;
    font-size: inherit; */
}

.clear-fix {
    clear: both
}
// rich text styles (experimenting with .col)
.col {
  pre, code {
    display: block;
    background-color: #ECECA5;
  }
  li {
    list-style: disc;
  }
}
// materializecss screws up ul's and li's
// .tabs element width is calculated using padding value
ul:not(.tabs) { padding: inherit; }

@media #{$large-and-up} {
    // styles for large screens and up
    nav {
        padding: 0 0.6rem
    }
}
body.mceContentBody {
   background: black;
}
// tinymce wysiwyg editor font-size were too small
#tinymce {
  font-size: inherit;
}




.side-nav a {
    text-align: center;
}

.side-nav li:last-child:hover {
    background-color: transparent;
}
