<div ng-class="{'row': !TL.classes}">
    <div class="col {{TL.classes || 's12 m12 l6 offset-l3'}}">
        <div>
            <ul class="collection with-header">
                <li class="collection-item">
                    <h4 class="center-align">Обсуждения</h4>
                </li>
                <li ng-hide="TL.threads.length" class="collection-item center-align">
                    <b>
                        <i>Пока обсуждений не было...</i>
                    </b>
                </li>
                <li ng-show="TL.threads.length" dir-paginate="thread in TL.threads | itemsPerPage: TL.perPage" total-items="TL.threadsCount" class="collection-item">
                    <a href="thread/{{thread._id}}">{{thread.name}}</a>
                </li>
            </ul>
            <dir-pagination-controls on-page-change="TL.changePage(newPageNumber)"></dir-pagination-controls>
        </div>
    </div>
</div>
