<div class="row">
  <div class="col s12">
    <form ng-submit="$ctrl.threadsInsert($ctrl.name, $ctrl.text)">
      <div class="input-field">
        <input id="thread-name" type="text" ng-model="$ctrl.name" required>
        <label for="thread-name">Название обсуждения</label>
      </div>
        <div class="input-field">
          <textarea ng-model="$ctrl.text" class="materialize-textarea" required></textarea>
          <label>Детали</label>
        </div>
        <div class="input-field">
          <button class="btn waves-effect waves-light" type="submit">Сохранить
            <i class="material-icons right">send</i>
          </button>
        </div>
    </form>
  </div>
</div>
