<!-- loading="{{$ctrl.loading}}" -->
<div class="row section">
    <div class="col s12">
        <div style="overflow: auto; padding-top: 20px;">
          <a href="skill/{{$ctrl.skill._id}}/edit" class="btn waves-effect waves-light left">Улучшить
              <i class="material-icons right">mode_edit</i>
          </a>
          <a href="skill/{{$ctrl.skill._id}}/forum/{{$ctrl.forum._id}}" class="btn waves-effect waves-light right">Обсуждение
              <i class="material-icons right">list</i>
          </a>
          <a class="waves-effect waves-blue btn-flat right" title="подписаться" ng-click="$ctrl.subscribe()">
            <i ng-if="$ctrl.isSubscribed" class="material-icons center-align">turned_in</i>
            <i ng-if="!$ctrl.isSubscribed" class="material-icons center-align">turned_in_not</i>
          </a>
        </div>
        <h1 class="center-align">{{$ctrl.skill.name}}</h1>
    </div>
</div>
<skill-stages text="$ctrl.revision.text"></skill-stages>
<div class="divider"></div>
<threads-insert parent="$ctrl.skill._id" type="skill"></threads-insert>
<threads-list parent="$ctrl.skill._id" type="skill"></threads-list>
